    <section class="section hero-section">
      <div class="container hero-container">
        <div class="hero-col-text">
          <div>
            <h1 class="hero-heading" data-i18n="hero_title">One app to replace them all</h1>
              
          </div>
          <div class="hero-desc">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, explicabo. -->
          </div>
          
          <input class="hero-input-email" type="email" name="email" id="hero-email" placeholder="Enter your email address" data-i18n="email_placeholder">
        
          <a href="#" class="hero-btn" data-i18n="get_started">Get Started</a>
        </div>
        
      
          
          <div class="hero-col-img">

              <img class="hero-image" src="/static/assets/laptop.png" alt="A Woman Working On A Computer At Her Desk" >
          
          </div>

        
       </div>
      
    
      </section>