  <section class="sidebar">
    <div class="sidebar-container">
      <div class="sidebar-header">
        <div class="sidebar-logo">
          <img src="/static/assets/nav_logo.png" alt="A blue checkmark" />
        </div>
        <div class="sidebar-title">Taskify</div>
        <a href="#">
          <i class="menuIcon material-icons">menu</i>
        </a>
      </div>
      <div class="sidebar-items">
        <ul class="menu">
          <li class="sidebar-list">
            <a href="#">
              <span class="sidebar-icon"><i class="fa-solid fa-house"></i></span>
              <span class="sidebar-name">Overview</span>
            </a>
          </li>

          <li class="sidebar-list">
            <a href="#">
              <span class="sidebar-icon">
                <i class="fa-solid fa-chart-simple"></i>
              </span>
              <span class="sidebar-name">Stats</span>
            </a>
          </li>

          <li class="sidebar-list">
            <a href="#">
              <span class="sidebar-icon"><i class="fa-solid fa-folder-open"></i></span>
              <span class="sidebar-name">Projects</span>
            </a>
          </li>

          <li class="sidebar-list">
            <a href="#">
              <span class="sidebar-icon"><i class="fa-solid fa-comment"></i></span>
              <span class="sidebar-name">Chat</span>
            </a>
          </li>

          <li class="sidebar-list">
            <a href="#">
              <span class="sidebar-icon">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <span class="sidebar-name">Calendar</span>
            </a>
          </li>
          <div class="bottom-section">
            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon"><i class="fa-solid fa-gear"></i></span>
                <span class="sidebar-name">Settings</span>
              </a>
            </li>

            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="sidebar-name">Log out</span>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </section>